<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <style>
        /* Estilos personalizados */
        body {
            background-color: #ff932d;
            font-family: sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        p, ul {
            font-size: 1rem;
            line-height: 1rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Sticky Notes</h1>
                <p>Notas adesivas interativas</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Detalhes do Projeto</h2>
                <p><strong>Versão:</strong> 1.0</p>
                <p><strong>Licença:</strong> MIT</p>
                <p><strong>Autor:</strong> Erica Viana</p>
            </div>
        </div>
    </div>
</body>
</html>
