@charset "UTF-8";

/** IMPORTAÇÃO DE FONTES OFF-LINE **/
@font-face {
    font-family: "Fredoka";
    src: url("../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
    font-family: "Fredoka";
    font-size: 1em;
}

/* VARIÁVEIS PARA AS CORES DAS NOTAS */
:root {
    --amarelo: #fff68f;
    --azul: #add8e6;
    --verde: #90ee90;
    --rosa: #ffb6c1;
    --laranja: #ffa07a;
    --footer: #f3f3f3;
    --cinza: #6c757d;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    padding: 15px;
}

/* BOTÕES */
button {
    padding: 5px 15px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/** RODAPÉ **/
footer {
    width: 100%;
    height: 45px;
    padding: 5px;
    background-color: var(--footer);
    display: flex;   
    justify-content: space-between;    
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 1.1em;
    margin: 5px 0px 0px 5px;
}

/** SOBRE **/
 
#sobre h3 {
    color: var(--cinza);
    font-weight: 500;
}
 
.container {
    padding: 15px;
}
